amable/uploads/communities/**/*
*.pyc
*.swp
*.sublime-workspace
*.sublime*
.coverage
.DS_Store
amable.sublime-*
yarn-error.log
.vagrant/
__pycache__/
venv/
node_modules/
htmlcov/
amable/static/.webassets-cache
amable/static/*.css
amable/static/*.js
amable/uploads/avatars/**/*
