# general
flask

# models
Flask-SQLAlchemy
sqlalchemy-migrate

# assets
Flask-Assets
libsass
cssmin
jsmin

# miscellaneous
python-dotenv

# testing
mamba
expects
coverage
codeclimate-test-reporter

# utilities
pycodestyle
honcho
