# general
flask

# models
Flask-SQLAlchemy
sqlalchemy-migrate

# miscellaneous
python-dotenv

# testing
mamba
expects
coverage
codeclimate-test-reporter

# utilities
pycodestyle
honcho

# database migrations
psycopg2 
