{% extends "application.html" %}
{% block content %}
  {% if current_user.is_authenticated %}
    <div class="content">
      <div class="dashboard">
        <header class="dashboard__header">
          <form class="dashboard__form form">
            <aside>
              <img src="{{ current_user.avatar }}" class="avatar">
            </aside>
            <section>
              <div class="form__group">
                <textarea class="form__control" placeholder="What kindness did you experience today?"></textarea>
              </div>
              <div class="form__group--footer">
                <button type="submit" class="btn btn--blue btn--small">Post</button>
              </div>
            </section>
          </form>
        </header>
        <div class="dashboard__content">
          <section class="dashboard__stream stream">
            {% for post in posts %}
              {% include "posts/_post.html" %}
            {% endfor %}
          </section>
          <aside class="dashboard__filters">
            <select name="filter_community">
              <option value="all">All Communities</option>
              {% for community in current_user.communities %}
                <option value="{{ community.id }}">{{ community.name }}</option>
              {% endfor %}
            </select>
          </aside>
        </div>
      </div>
    </div>
  {% else %}
    <div class="content">
      <p>Welcome to Amable!</p>
    </div>
  {% endif %}
{% endblock %}
