{% extends "application.html" %}
{% block content %}
<form id="community_search" method="GET" action="/communities/search">
  {{form.hidden_tag()}}
  {{form.community_name(autocomplete="off")}} {{form.community_name.label}}
</form>
<div id="community_list">
  <ul id="community_list_ul">
  </ul>
</div>
{% endblock %}

{% block javascript %}
<script>
  var searchBox = document.getElementById("community_name");
  $("#community_name").on("keyup", function() {
    $('#community_list_ul').empty();
    console.log("heard");
    // alert('dom');
    var valToSearch = searchBox.value;
    $.getJSON("/communities/search", {"community": valToSearch}, function(data) {
      $.each(data, function(key, communities) {
        $.each(communities, function(key, community){
          // alert(community.banner_url);
          // alert(community.name);
          $('#community_list_ul').append("<li id='" + community.id + "'>Name: " + community.name + " | Desc: " + community.description + " | Active: " + community.active + "</li>");
        });
        // $("#community_list_ul").append("<li>")
        // alert(val[0].banner_url);
      });
    });
  });
</script>
{% endblock %}
