{% extends "application.html" %}
{% block content %}
	<div class="community">
		<header class="community__header" {% if community.banner_url %} style="background-image: url(/uploads/{{ community.banner_url }})" {% endif %}>
			<h2 class="community__name">{{ community.name }}</h2>
			<p>{{ community.description }}</p>
			{% include "communities/_actions.html" %}
		</header>
		<div id="make_post">
			<form class="dashboard__form form" action="{{url_for('posts.create')}}" method="Post">
				{{ post_form.csrf_token }}
				{{ post_form.community_id }}
				<aside>
					<img src="{{ current_user.avatar }}" class="avatar">
				</aside>
				<section>
					<div class="form__group">
						{{ post_form.text_brief(class_="form__control", placeholder="What kindness did you experience today?") }}
					</div>
					<div class="form__group--footer hidden">
						<button type="submit" class="btn btn--blue btn--small">Post</button>
					</div>
				</section>
			</form>
		</div>
		<div class="community__posts">
			{% for post in posts %}
				{% include "posts/_post.html" %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
