{% extends "application.html" %}
{% block content %}
<h1>Community Name: {{ community.name }}</h1>
Banner<img id="ban" src="{{ community.banner_url }}"><br>
Thumb<img id="thumb" src="{{ community.thumbnail_url }}">
<br><br>
<h4>Description:</h4>
<p style="padding-left=40px"> {{ community.description }} </p>

<strong>Other things</strong>
<ul>
	<li>Date Created : {{ community.date_created }} </li>
    <li>Date Modified : {{ community.date_modified }} </li>
</ul><br>
<h3>Posts:</h3>
<br>
{% for post in posts %}
    <ul>
        <li>
            Post Content (Brief|Long) {{ post.text_brief }} | {{ post.text_long }}
            Posted By : {{ post.user.name }} ~ User ID : {{ post.user.id }}
            Comments: 
            {% for comment in post.comments %}
                <span style="color:'red'">CommentContent: {{ comment.content }}</span>
            {% endfor %}
        </li>
    </ul>
{% endfor %}

{% endblock %}